body {
margin: 0;
padding: 0
}
html {
background-color: rgb(255, 252, 242)
}
#header {
height: 3em;
line-height: 3em;
font-size: 5em;
background-color: orange;
padding-left: 55px;
text-align: center;
font-family: 'Staatliches', cursive;
color: #ffffff
}
#text {
font-family: verdana;
padding: 10em;
text-align: center
}
#textbox {
border-left: 0.1em solid #C0c0c0;
padding: 0.5em
}